@inject GameState GameState
@implements IDisposable

@if (items != null && items.Count > 0)
{
    @if (items.Contains(GameState.CurrentGatherItem))
    {
        <div style="position:relative">
            <button class="btn btn-primary" onclick="@(new Action(() => GatherItem(null)))">Stop Gathering</button>
        </div>
    }
    else
    {
        if (CanGatherAny())
        {
            <div style="position:relative">
                <button class="btn btn-primary" onclick="@(new Action(() => GatherItem(GetRandomItem())))">@gatherText</button>
            </div>
        }
        else
        {
            <div style="position:relative" onmouseover="@(new Action<MouseEventArgs>(e => GameState.ShowTooltip(e, items[0].GetRequirementTooltip())))"
                 onmouseout="@(new Action(() => GameState.HideTooltip()))">
                <button  class="btn btn-primary" disabled>
                    @gatherText
                </button>
                <div style="position:absolute;top:0px;bottom:0px;left:0px;right:0px;"></div>
            </div>

        }

    }
}

@code {
    [Parameter]
    public string ActionText { get; set; }
    private List<GameItem> items = new List<GameItem>();
    private string gatherText = "";
    private string tooltip = "";
    private Random rand = new Random();

    public void GatherItem(GameItem i)
    {
        if (i == null)
        {
            Console.WriteLine("Item was null");
            GameState.CurrentGatherItem = null;
            GameState.UpdateState();
            return;
        }
        GameState.CurrentGatherItem = i;
        GameState.TicksToNextAction = GameState.CurrentGatherItem.GatherSpeed.ToGaussianRandom();
        Console.WriteLine("Ticks to Next Action:" + GameState.TicksToNextAction);
        GameState.UpdateState();
    }
    private GameItem GetRandomItem()
    {
        GameState.PossibleGatherItems.Clear();
        foreach(GameItem i in items)
        {
            if (i.HasRequirements())
            {
                GameState.PossibleGatherItems.Add(i);
            }
        }
        if(GameState.PossibleGatherItems.Count == 0)
        {
            Console.WriteLine("No items could be gathered.");
            return items[0];
        }
        return GameState.PossibleGatherItems[rand.Next(0, GameState.PossibleGatherItems.Count - 1)];
    }
    private bool CanGatherAny()
    {
        foreach(GameItem item in items)
        {
            if (item.HasRequirements())
            {
                return true;
            }
            else
            {
                Console.WriteLine(item + " is missing req:" + item.GetRequirementTooltip());
            }
        }
        return false;
    }
    protected override void OnInitialized()
    {
        GameState.StateChanged += OnGameStateChanged;
    }
    protected override void OnParametersSet()
    {
        items.Clear();
        if (ActionText == null || ActionText.Contains(':') == false)
        {
            Console.WriteLine("Action Text was null or contained no colon.");
            if(ActionText == null)
            {
                Console.WriteLine("ActionText null:" + (ActionText == null));
            }
            else
            {
                Console.WriteLine("ActionText:" + ActionText);
            }

        }
        else
        {
            foreach(string i in ActionText.Split(':')[1].Split(','))
            {
                GameItem item = ItemManager.Instance.GetItemByName(i);
                if(item != null)
                {
                    items.Add(item);
                }
                else
                {
                    Console.WriteLine("Item not found:" + i);
                }
            }
            gatherText = ActionText.Split(':')[0];
        }

        GameState.UpdateState();
    }
    public void Dispose()
    {
        GameState.StateChanged -= OnGameStateChanged;
    }
    void OnGameStateChanged(object sender, EventArgs e) => StateHasChanged();
}
