@inject GameState GameState
@implements IDisposable
@inject NavigationManager UriHelper

    <div style="        height: 130px;
        width: 290px;
        border: solid black 1px;
        padding: 5px;
        margin: 5px;
        position:relative;
">
        @if (Item != null && !HideValue)
        {
            <div>@Item.Name</div>
            <div>@Item.Description</div>
            @if (Item.WeaponInfo != null || Item.ArmorInfo != null)
            {
                if (Item.IsEquipped)
                {
                    <div style="float:right;position:relative;bottom:35px;"><button @onclick="@(() => Player.Instance.UnequipItem(Item))">Unequip</button></div>

                }
                else
                {
                    <div style="float:right;position:relative;bottom:35px;"><button @onclick="@(() => Player.Instance.Equip(Item))">Equip</button></div>

                }

            }
            @if (Item.FoodInfo != null)
            {
                <div style="float:right;position:relative;bottom:35px;"><button @onclick="@(() => GameState.Eat(Item))">Eat</button></div>
            }
            @if (ItemManager.Instance.GetUnpackingRecipe(Item) != null)
            {
                if (ItemManager.Instance.GetUnpackingRecipe(Item).HasSpace())
                {
                    <div style="float:right;position:relative;bottom:35px;"><button @onclick="@(() => GameState.SetCraftingItem(ItemManager.Instance.GetUnpackingRecipe(Item)))">@ItemManager.Instance.GetUnpackingRecipe(Item).RecipeButtonString</button></div>

                }
                else
                {
                    <div style="float:right;position:relative;bottom:35px;">
                        <button style="opacity:0.7" onmouseover="@(new Action<MouseEventArgs>(e => GameState.ShowTooltip(e, "You don't have enough inventory space.")))"
                                onmouseout="@(new Action(() => GameState.HideTooltip()))">
                            @ItemManager.Instance.GetUnpackingRecipe(Item).RecipeButtonString
                        </button>
                    </div>

                }
            }
            if (ItemManager.Instance.CurrentShop != null)
            {
                @if (Item.IsSellable)
                {
                    <div><button @onclick="@(() => SellItem())">Sell @(Math.Min(ItemManager.Instance.SellAmount, Player.Instance.Inventory.GetNumberOfItem(Item)))</button> @((Item.Value / 2 * Math.Min(ItemManager.Instance.SellAmount, Player.Instance.Inventory.GetNumberOfItem(Item))) + " " + ItemManager.Instance.CurrentShop.CurrencyName)</div>

                }
            }
            @if (Bank.Instance.IsBanking)
            {
                <button style="position:absolute;right:5px;bottom:5px;" onclick="@(new Action<MouseEventArgs>((args) => BankItem(Item)))">Deposit @Bank.Instance.GetAmountString()</button>

            }
        }
    </div>


@code {
    [Parameter]
    public GameItem Item { get; set; }
    private bool HideValue;

    private void SellItem()
    {
        if(Item.IsSellable == false)
        {
            MessageManager.AddMessage("You can't seem to sell this...");
            return;
        }
        if (Item.IsEquipped)
        {
            MessageManager.AddMessage("You need to unequip this item before selling it.");
            return;
        }
        if(ItemManager.Instance.CurrentShop != null)
        {
            int sellAmt = Math.Min(ItemManager.Instance.SellAmount, Player.Instance.Inventory.GetNumberOfItem(Item));
            if(Player.Instance.Inventory.GetAvailableSpaces() > 0 || Player.Instance.Inventory.GetNumberOfItem(ItemManager.Instance.CurrentShop.Currency) > 0 || (Item.IsStackable == false))
            {
                Player.Instance.Inventory.RemoveItems(Item, sellAmt);
                Player.Instance.Inventory.AddMultipleOfItem(ItemManager.Instance.CurrentShop.Currency, (sellAmt * Item.Value / 2));
                MessageManager.AddMessage("You sold " + sellAmt + " " + Item.Name + " for " + (sellAmt * Item.Value / 2) + " " + ItemManager.Instance.CurrentShop.Currency.Name + ".");

                ClearItem();
            }
            else
            {
                Console.WriteLine("No inventory space.");
            }
        }
        else
        {
            Console.WriteLine("Shop was null");
        }
    }
    private void BankItem(GameItem item)
    {
        Bank.Instance.Deposit(item);
        if(Player.Instance.Inventory.GetNumberOfItem(item) == 0)
        {
            ClearItem();
        }
        GameState.UpdateState();
    }
    public void ClearItem()
    {
        Item = null;
        HideValue = true;
        StateHasChanged();
    }
    public void ShowItem()
    {
        HideValue = false;
        StateHasChanged();
    }
    protected override void OnInitialized()
    {
        GameState.itemViewer = this;
        HideValue = false;
        GameState.StateChanged += OnGameStateChanged;
    }
    public void Dispose()
    {
        GameState.StateChanged -= OnGameStateChanged;
    }
    void OnGameStateChanged(object sender, EventArgs e) => StateHasChanged();
}

