@inject GameState GameState
@implements IDisposable

    <div style="display:flex;">
        <button style="font-size: small; text-align: center; margin: 0px; padding: 0px; min-width: 60px;@GetBGColor("Inventory")" onclick="@(new Action(() => ChangeView("Inventory")))"><img src="/data/Images/Inventory.png" style="height:45px;width:45px;border:solid black 4px;">Inv</button>
        <button style="font-size: small; text-align: center; margin: 0px; padding: 0px; min-width: 60px;@GetBGColor("Equipment")" onclick="@(new Action(() => ChangeView("Equipment")))"><img src="/data/Images/Equipment.png" style="height:45px;width:45px;border:solid black 4px;">Equip</button>
        <button style="font-size: small; text-align: center; margin: 0px; padding: 0px; min-width: 60px;@GetBGColor("Skills")" onclick="@(new Action(() => ChangeView("Skills")))"><img src="/data/Images/Skills.png" style="height:45px;width:45px;border:solid black 4px;">Skills</button>
        <button style="font-size: small; text-align: center; margin: 0px; padding: 0px; min-width: 60px;@GetBGColor("Quests")" onclick="@(new Action(() => ChangeView("Quests")))"><img src="/data/Images/Quests.png" style="height:45px;width:45px;border:solid black 4px;">Quests</button>
        <button style="font-size: small; text-align: center; margin: 0px; padding: 0px; min-width: 60px;@GetBGColor("Crafting")" onclick="@(new Action(() => ChangeView("Crafting")))"><img src="/data/Images/Craft.png" style="height:45px;width:45px;border:solid black 4px;">Craft</button>
        <button style="font-size: small; text-align: center; margin: 0px; padding: 0px; min-width: 60px;@GetBGColor("Followers")" onclick="@(new Action(() => ChangeView("Followers")))"><img src="/data/Images/Followers.png" style="height:45px;width:45px;border:solid black 4px;">Team</button>
        <button style="font-size: small; text-align: center; margin: 0px; padding: 0px; min-width: 60px;" onclick="@(new Action(() => ChangeView("Debug")))"><img src="/data/Images/NoImage.png" style="height:45px;width:45px;border:solid black 4px;">Debug</button>

    </div>
@if (activeWindow == "Inventory")
{
    <InventoryViewerComponent></InventoryViewerComponent>
}
else if (activeWindow == "Skills")
{
    <SkillsComponent></SkillsComponent>
}
else if (activeWindow == "Quests")
{
    <QuestsComponent></QuestsComponent>
}
else if (activeWindow == "Crafting")
{
    <CraftingComponent></CraftingComponent>
}
else if (activeWindow == "Followers")
{
    <FollowerComponent></FollowerComponent>
}
else if (activeWindow == "Equipment")
{
    <EquipmentManagementComponent></EquipmentManagementComponent>
}
else if(activeWindow == "Debug")
{
    <DebugComponent></DebugComponent>
}
@code {
    private string activeWindow = "Inventory";


    private string GetBGColor(string window)
    {
        if(activeWindow == window)
        {
            return "background-color:lightgray";
        }
        return "background-color:white";
    }
    public void ChangeView(string view)
    {
        activeWindow = view;
        GameState.UpdateState();
    }
    protected override void OnInitialized()
    {
        GameState.StateChanged += OnGameStateChanged;
    }
    public void Dispose()
    {
        GameState.StateChanged -= OnGameStateChanged;
    }
    void OnGameStateChanged(object sender, EventArgs e) => StateHasChanged();
}
