@page "/World/SawokaVault"
@inject GameState GameState
@inject NavigationManager UriHelper
@implements IDisposable

<div>
    <h1>Vault</h1>

    <p>Safes line the walls of the room. They come in various sizes and colors. Whenever you look away they seem to rearrange themselves.</p>

    @if (Player.Instance.Inventory.HasItem("Small Red Library Key") || Player.Instance.Inventory.HasItem("Small Orange Library Key") || Player.Instance.Inventory.HasItem("Small Green Library Key"))
    {
        <div style="margin-top:5px;">
            <button class="btn btn-primary" @onclick="@(() => SearchForSafe())">
                Find a safe
            </button>
        </div>
        @if (GameState.TicksToNextAction <= 0 && IsSearching)
        {
            <div style="margin-top:5px;margin-bottom:5px;">
                <button class="btn btn-primary" @onclick="@(() => UnlockSafe())">
                    Unlock Safe
                </button>
            </div>
        }
        else if (IsSearching)
        {
            <div style="margin-top:5px;margin-bottom:5px;">
                <button class="btn btn-primary" style="opacity:0.5" @onmouseover="@(new Action<MouseEventArgs>(e => GameState.ShowTooltip(e, "You need to find the safe first.")))"
                        @onmouseout="@(new Action(() => GameState.HideTooltip()))">
                    Unlock Safe
                </button>
            </div>
        }

    }
    else
    {
        <div>
            <button class="btn btn-primary" style="opacity:0.5;margin-top:5px;margin-bottom:5px;" @onmouseover="@(new Action<MouseEventArgs>(e => GameState.ShowTooltip(e, "You don't have any keys.")))"
                    @onmouseout="@(new Action(() => GameState.HideTooltip()))">
                Find a safe
            </button>
        </div>
    }
    @if (IsSearching)
    {
        <div style="margin-top:15px;">
            <div class="progress" style="width:300px;">
                <div class="progress-bar" style="@GetProgress()"></div>
            </div>
        </div>
    }
</div>




@code {

    private bool IsSearching;

    private void SearchForSafe()
    {
        MessageManager.AddMessage("You walk around the room with a key in your hand. It begins to vibrate as you get nearer its partner safe.");
        IsSearching = true;
        GameState.TicksToNextAction = 50;
    }
    private void UnlockSafe()
    {
        Drop d = new Drop();
        IsSearching = false;
        if(Player.Instance.Inventory.RemoveItems(ItemManager.Instance.GetItemByName("Small Red Library Key"), 1) == 1)
        {
            d = ItemManager.Instance.GetMinigameDropTable("Sawoka Vault Red").DropTable.GetDrop();
        }
        else if (Player.Instance.Inventory.RemoveItems(ItemManager.Instance.GetItemByName("Small Orange Library Key"), 1) == 1)
        {
            d = ItemManager.Instance.GetMinigameDropTable("Sawoka Vault Orange").DropTable.GetDrop();
        }
        else if (Player.Instance.Inventory.RemoveItems(ItemManager.Instance.GetItemByName("Small Green Library Key"), 1) == 1)
        {
            d = ItemManager.Instance.GetMinigameDropTable("Sawoka Vault Green").DropTable.GetDrop();
        }
        else
        {
            return;
        }
        Player.Instance.Inventory.AddDrop(d);
        MessageManager.AddMessage("You insert the key into the safe and it disolves. You open the door to find " + d.ItemName);

    }
    private string GetProgress()
    {
        @if (IsSearching)
        {
            return "width:" + (100 - ((double)GameState.TicksToNextAction / 50d) * 100d) + "%";
        }
        return "width:0%";
    }
    protected override void OnInitialized()
    {
        if(NPCManager.Instance.GetNPCByName("Wakanidsko").ConversationDepth == 7)
        {
            MessageManager.AddMessage("The wizard brings the world to darkness and you find your eyes are closed. When you open them you are in the safe room he mentioned. Somehow you never noticed it was just through at the other end of the library. Was the door always there?");
        }
        GameState.StateChanged += OnGameStateChanged;
    }
    public void Dispose()
    {
        GameState.StateChanged -= OnGameStateChanged;
    }
    void OnGameStateChanged(object sender, EventArgs e) => StateHasChanged();
}
